<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <h1>Mini Message Board</h1>
        <%- include('partials/navbar', {links: links}) %>
      </div>
    </header>

    <main id="main-wrapper">
      <h2>Messages</h2>
      <button id="sort-button">SORT by NAME</button>
      <p class="sort-status">Sorted by: Default</p>
      <ul class="messages-list">
        <% messages.forEach((message) => { %>
        <li>
          <span class="username"><b><%= message.username %></b></span
          >: <%= message.msg_cont %> <br />
          <!-- Link to view single message -->
          <a href="/message/<%=message.id %>">View details</a>
        </li>
        <%}) %>
      </ul>
    </main>

    <footer>
      <h3>Glorious Footer</h3>
    </footer>
    <script src="/main.js"></script>
  </body>
</html>
